absl-py==2.1.0
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.2
contourpy==1.1.1
cycler==0.12.1
flatbuffers==24.3.25
fonttools==4.51.0
gTTS==2.5.1
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
jax==0.4.13
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.7.5
mediapipe==0.10.11
ml-dtypes==0.2.0
numpy==1.24.4
opencv-contrib-python==4.9.0.80
opencv-python==4.7.0.68
opt-einsum==3.3.0
packaging==24.0
pillow==10.3.0
protobuf==3.20.3
pycparser==2.22
pyparsing==3.1.2
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.90
pywin32==306
requests==2.31.0
scikit-learn==1.2.0
scipy==1.10.1
six==1.16.0
sklearn==0.0
sounddevice==0.4.6
threadpoolctl==3.5.0
urllib3==2.2.1
zipp==3.18.2
